[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = {extras = ["asyncio"], version = "*"}
loguru = "*"
alembic = "*"
psycopg2 = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
asyncpg = "*"

[dev-packages]

[requires]
python_version = "3.11"
